@charset "UTF-8";
body {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 9999;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.bolt_icon_setting {
  font-size: 50px;
  float: left;
}

.bolt_head_menu {
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  padding: 14px 12px;
  float: right;
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
}

.main {
  padding-top: 75px;
}

.title {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 250px;
  padding-bottom: 250px;
}

.bolt_theme_title {
  font-family: 'Raleway', sans-serif;
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
}

.bolt_theme_content {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
  margin-top: 20px;
}

.section {
  width: 100%;
  background-color: #74cfae;
  padding-top: 50px;
}

.main_section_flex {
  display: flex;
  justify-content: center;
}

.main_section_content {
  text-align: center;
  color: #f2f2f2;
  margin-left: 150px;
}

.main_section_title {
  font-size: 24px;
}

.main_section_text {
  width: 650px;
  font-size: 20px;
  margin-top: 30px;
}

.article {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 70px;
}

.article_title {
  font-size: 24px;
  text-align: center;
}

.content_imgs {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.content_img_margin {
  margin-left: 100px;
}

.content_img_link {
  display: block;
  opacity: 0.7;
  transition: 0.3s;
}

.content_img_link:hover {
  opacity: 1;
  transition: 0.3s;
}

.content_img_margin:nth-child(3n+1) {
  margin-left: 0;
}

.content_img_margin:nth-child(n+4) {
  margin-top: 80px;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 90px;
}

.article_text {
  width: 570px;
  font-size: 20px;
  text-align: center;
}

.link_button {
  display: block;
  background-color: #74cfae;
  color: #f2f2f2;
  text-decoration: none;
  box-sizing: border-box;
  margin-left: 90px;
  padding: 14Px 20px;
  transition: 0.3s;
}

.link_button:hover, .bolt_head_menu:hover {
  color: #333;
  transition: 0.3s;
}

.link_text {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.skill_section {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: #4e4e4e;
}

.skill-section_title {
  color: #f2f2f2;
  font-size: 24px;
  text-align: center;
}

.skill-content_imgs {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.img-text_inline-block {
  display: inline-block;
}

.skill-content_img {
  margin-left: 180px;
}

.skill-content_img:first-child {
  margin-left: 0;
}

.skill_name {
  color: #f2f2f2;
  font-size: 16px;
  margin-top: 20px;
}

.SNS_nav {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
}

.SNS-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SNS-icon_setting {
  font-size: 50px;
  color: #74cfae;
}

.SNS_link {
  display: block;
  width: 185px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  transition: 0.3s;
}

.SNS_link:hover {
  background-color: #fff;
  width: 185px;
  transition: 0.3s;
}

.footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #74cfae;
}

.footer_text {
  color: #fff;
  text-align: right;
}

/*
@media screen and (min-width: 1200px) {
}
*/
@media screen and (max-width: 1199px){
  .inner {
    width: 97%;
    margin: 0 auto;
  }
  .section {
    width: 100%;
    background-color: #74cfae;
    padding-top: 50px;
    padding-bottom: 25px;
  }
  
  .main_section_flex {
    display: block;
    text-align: center;
  }

  .main_section_content {
    margin-top: 20px;
    margin-left: 0px;
  }
  
  .main_section_title {
    font-size: 24px;
  }
  
  .main_section_text {
    display: inline-block;
    font-size: 20px;
    margin-top: 35px;
  }
  
  .content_imgs {
    flex-direction: column;
    text-align: center;
  }
  
  .content_img_margin {
    margin-left: 0px;
  }

  .content_img_margin:nth-child(3n+1) {
    margin-top: 80px;
  }
  
  .content_img_margin:first-child,.content_img_margin:nth-child(n+5) {
    margin-top: 0px;
  }

  .content_img_link {
    display: inline-block;
    opacity: 0.7;
    transition: 0.3s;
  }
  

  .text-wrapper {
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
  }
  
  .article_text {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  .link_button {
    margin-top: 40px;
    margin-left: 0px;
  }

  .skill-content_imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
  }

  .skill-content_img {
    margin-top: 88px;
    margin-left: 0px;
  }

  .skill-content_img:first-child {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {

  .inner {
    width: 97%;
    margin: 0 auto;
  }

  .bolt_head_menu {
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 50px;
    height: 45px;
    padding: 10px;
    z-index: 10;
    background-color: #fff;
  }

  .menu_line {
    display: block;
    width: 100%;
    position: relative;
    height: 3px;
    background-color: #ddd;
  }

  .menu_line::before,
  .menu_line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ddd;
  }

  .menu_line::before {
    transform: translate(-50%, 9px);
  }
  .menu_line::after {
    transform: translate(-50%, 18px);
  }
    
  .bolt_head_menu p {
    display: none;
  }

  .title {
    width: 100%;
    background-color: #f2f2f2;
    padding-top: 160px;
    padding-bottom: 130px;
  }
  
  .bolt_theme_title {
    font-size: 80px;
  }

  .SNS_nav {
    padding-top: 50px;
  }
  
  .SNS-flex {
    flex-direction: column;
    flex-shrink: 0;
  }
  
  .SNS-flex li {
    width: 100%;
  }

  .SNS_link {
    width: 100%;
  }
  
  .SNS_link:hover {
    width: 100%;
  }
  
}